UNSPLASH_ACCESS_KEY=your_unsplash_access_key
UNSPLASH_APP_NAME=simba-supermarket
UNSPLASH_DELAY_MS=450
VITE_HF_TOKEN=your_huggingface_token
VITE_HF_MODEL=CohereLabs/aya-expanse-8b
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
